nav {
    height: 60px;
    color:#FFFFFF;
}
a {
}

nav ul {
    height: 30px;
}
nav ul li {
	display: inline-flex;



    list-style-type: none
	flex-wrap: wrap;
	align-content: center;
	margin-left: 5px;
	margin-right: 5px;
}
nav ul {
    height: 30px;
}
nav ul li {
    display: inline-flex;
    list-style-type: none;

	flex-wrap: wrap;
	align-content: center;
}

.headerh1 {
    text-align: center;
    color: #F2E5BD;
    font-size: 60px;
   	}
